			<br />
			<!--Skill Sections-->
                <div class="container">
                    <div class="row">
                        <div class="main_skill">
                            <div class="col-md-13">
                                <div class="skill_content wow fadeIn">
                                    <h2>List CS</h2>
                                    <div class="separator_left"></div>
                                </div>
                            </div>
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->

                <hr />
				
				<br />
				<br />
            <!--Pricing Section-->
                <div class="container">
                    <div class="row">
                        <div id="page-wrapper">
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            List CS
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>NIK</th>
                                        <th>Name CS</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Username</th>
										<th>Password</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX">
                                        <td>618101</td>
                                        <td>Kurnia</td>
                                        <td>081589382734</td>
                                        <td class="center">Kurnia@indosat.com</td>
                                        <td class="center">Kurnia1</td>
										<td>admin1234@</td>
                                    </tr>
                                    <tr class="even gradeC">
                                        <td>618102</td>
                                        <td>Astuti</td>
                                        <td>081589382734</td>
                                        <td class="center">Astuti@indosat.com</td>
                                        <td class="center">Asgd1</td>
										<td>admin1234@</td>
                                    </tr>
                                    <tr class="odd gradeA">
                                        <td>618103</td>
                                        <td>Joe</td>
                                        <td>081589382734</td>
                                        <td class="center">Joe@indosat.com</td>
                                        <td class="center">jo3</td>
										<td>admin1234@</td>
                                    </tr>
                                    <tr class="even gradeA">
                                        <td>618104</td>
                                        <td>Mjolnir</td>
                                        <td>081589382734</td>
                                        <td class="center">6</td>
                                        <td class="center">myolna</td>
										<td>admin1234@</td>
                                    </tr>          
                                    <tr class="gradeA">
                                        <td>618105</td>
                                        <td>Axe</td>
                                        <td>081589382734</td>
                                        <td class="center">413</td>
                                        <td class="center">axe123</td>
										<td>admin1234@</td>
                                    </tr>
                                    <tr class="gradeC">
                                        <td>618106</td>
                                        <td>Sven</td>
                                        <td>081589382734</td>
                                        <td class="center">-</td>
                                        <td class="center">
										Mohon lakukan restart pada HP anda, kami sudah memperbaiki masalah
										</td>
										<td>admin1234@</td>
                                    </tr>
                                    <tr class="gradeC">
                                        <td>618107</td>
                                        <td>Slark</td>
                                        <td>081589382734</td>
                                        <td class="center">-</td>
                                        <td class="center">
										Mohon lakukan restart pada HP anda, kami sudah memperbaiki masalah
										</td>
										<td>admin1234@</td>
                                    </tr>
                                    <tr class="gradeU">
                                        <td>618108</td>
                                        <td>Bonbo</td>
                                        <td>081589382734</td>
                                        <td class="center">-</td>
                                        <td class="center">
										Mohon lakukan restart pada HP anda, kami sudah memperbaiki masalah
										</td>
										<td>admin1234@</td>
                                    </tr>
									<tr class="gradeA">
                                        <td>618105</td>
                                        <td>Firefox 1.0</td>
                                        <td>081589382734</td>
                                        <td class="center">1.7</td>
                                        <td class="center">
										Mohon lakukan restart pada HP anda, kami sudah memperbaiki masalah
										</td>
										<td>admin1234@</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>618105</td>
                                        <td>Firefox 1.5</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td class="center">1.8</td>
                                        <td class="center">
										Mohon lakukan restart pada HP anda, kami sudah memperbaiki masalah
										</td>
										<td>admin1234@</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>618105</td>
                                        <td>Firefox 2.0</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td class="center">1.8</td>
                                        <td class="center">
										Mohon lakukan restart pada HP anda, kami sudah memperbaiki masalah
										</td>
										<td>admin1234@</td>
                                    </tr>
									<tr class="gradeA">
                                        <td>618105</td>
                                        <td>Firefox 3.0</td>
                                        <td>Win 2k+ / OSX.3+</td>
                                        <td class="center">1.9</td>
                                        <td class="center">
										Mohon lakukan restart pada HP anda, kami sudah memperbaiki masalah
										</td>
										<td>admin1234@</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                           
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
        </div>
                    </div><!--End off row-->
                </div><!--End off container -->