			<br />
			<!--Skill Sections-->
                <div class="container">
                    <div class="row">
                        <div class="main_skill">
                            <div class="col-md-13">
                                <div class="skill_content wow fadeIn">
                                    <h2>Report CS</h2>
                                    <div class="separator_left"></div>
                                </div>
                            </div>
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->

                <hr />
				
				<br />
				<br />
            <!--Pricing Section-->
                <div class="container">
                    <div class="row">
                        <div id="page-wrapper">
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            List Tickets
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Tix Number</th>
                                        <th>Name</th>
                                        <th>Complaint</th>
                                        <th>Time Done</th>
										<th>CS 1</th>
										<th>NOC</th>
										<th>CS 2</th>
										<th>Info & Solusi</th>
                                        <th>Action Button</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX">
                                        <td>Trident</td>
                                        <td>Internet Explorer 4.0</td>
                                        <td>Win 95+</td>
                                        <td class="center">4</td>
										<td>Astuti</td>
										<td>Abdu</td>
										<td>Eclaire</td>
										<td>Kami sudah melakukan perbaikan, silahkan restart perangkat anda</td>
                                        <td class="center">
										<button type="button" class="btn btn-danger btn-xs">Re Send SMS</button>
										</td>
                                    </tr>
                                    <tr class="even gradeC">
                                        <td>Trident</td>
                                        <td>Internet Explorer 5.0</td>
                                        <td>Win 95+</td>
                                        <td class="center">5</td>
										<td>Astuti</td>
										<td>Abdu</td>
										<td>Eclaire</td>
										<td>Kami sudah melakukan perbaikan, silahkan restart perangkat anda</td>
                                        <td class="center">
										<button type="button" class="btn btn-danger btn-xs">Re Send SMS</button>
                                    </tr>
                                    <tr class="odd gradeA">
                                        <td>Trident</td>
                                        <td>Internet Explorer 5.5</td>
                                        <td>Win 95+</td>
                                        <td class="center">5.5</td>
										<td>Astuti</td>
										<td>Abdu</td>
										<td>Eclaire</td>
										<td>Kami sudah melakukan perbaikan, silahkan restart perangkat anda</td>
                                        <td class="center">
										<button type="button" class="btn btn-danger btn-xs">Re Send SMS</button>
										</td>
                                    </tr>
                                    <tr class="even gradeA">
                                        <td>Trident</td>
                                        <td>Internet Explorer 6</td>
                                        <td>Win 98+</td>
                                        <td class="center">6</td>
										<td>Astuti</td>
										<td>Abdu</td>
										<td>Eclaire</td>
										<td>Kami sudah melakukan perbaikan, silahkan restart perangkat anda</td>
                                        <td class="center">
										<button type="button" class="btn btn-danger btn-xs">Re Send SMS</button>
										</td>
                                    </tr>          
                                    <tr class="gradeA">
                                        <td>Webkit</td>
                                        <td>S60</td>
                                        <td>S60</td>
                                        <td class="center">413</td>
										<td>Astuti</td>
										<td>Abdu</td>
										<td>Eclaire</td>
										<td>Kami sudah melakukan perbaikan, silahkan restart perangkat anda</td>
                                        <td class="center">
										<button type="button" class="btn btn-danger btn-xs">Re Send SMS</button>
										</td>
                                    </tr>
                                    <tr class="gradeC">
                                        <td>Misc</td>
                                        <td>IE Mobile</td>
                                        <td>Windows Mobile 6</td>
                                        <td class="center">-</td>
										<td>Astuti</td>
										<td>Abdu</td>
										<td>Eclaire</td>
										<td>Kami sudah melakukan perbaikan, silahkan restart perangkat anda</td>
                                        <td class="center">
										<button type="button" class="btn btn-danger btn-xs">Re Send SMS</button>
										</td>
                                    </tr>
                                    <tr class="gradeC">
                                        <td>Misc</td>
                                        <td>PSP browser</td>
                                        <td>PSP</td>
                                        <td class="center">-</td>
										<td>Astuti</td>
										<td>Abdu</td>
										<td>Eclaire</td>
										<td>Kami sudah melakukan perbaikan, silahkan restart perangkat anda</td>
                                        <td class="center">
										<button type="button" class="btn btn-danger btn-xs">Re Send SMS</button>
										</td>
                                    </tr>
                                    <tr class="gradeU">
                                        <td>Other browsers</td>
                                        <td>All others</td>
                                        <td>-</td>
                                        <td class="center">-</td>
										<td>Astuti</td>
										<td>Abdu</td>
										<td>Eclaire</td>
										<td>Kami sudah melakukan perbaikan, silahkan restart perangkat anda</td>
                                        <td class="center">
										<button type="button" class="btn btn-danger btn-xs">Re Send SMS</button>
										</td>
                                    </tr>
									<tr class="gradeA">
                                        <td>Gecko</td>
                                        <td>Firefox 1.0</td>
                                        <td>Ganguan Internet</td>
                                        <td class="center">1.7</td>
										<td>Astuti</td>
										<td>Abdu</td>
										<td>Eclaire</td>
										<td>Kami sudah melakukan perbaikan, silahkan restart perangkat anda</td>
                                        <td class="center">
										<button type="button" class="btn btn-danger btn-xs">Re Send SMS</button>
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Gecko</td>
                                        <td>Firefox 1.5</td>
                                        <td>Ganguan Internet</td>
                                        <td class="center">1.8</td>
										<td>Astuti</td>
										<td>Abdu</td>
										<td>Eclaire</td>
										<td>Kami sudah melakukan perbaikan, silahkan restart perangkat anda</td>
                                        <td class="center">
										<button type="button" class="btn btn-danger btn-xs">Re Send SMS</button>
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Gecko</td>
                                        <td>Firefox 2.0</td>
                                        <td>Ganguan Internet</td>
                                        <td class="center">1.8</td>
										<td>Astuti</td>
										<td>Abdu</td>
										<td>Eclaire</td>
										<td>Kami sudah melakukan perbaikan, silahkan restart perangkat anda</td>
                                        <td class="center">
										<button type="button" class="btn btn-danger btn-xs">Re Send SMS</button>
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Gecko</td>
                                        <td>Firefox 3.0</td>
                                        <td>Win 2k+ / OSX.3+</td>
                                        <td class="center">1.9</td>
										<td>Astuti</td>
										<td>Abdu</td>
										<td>Eclaire</td>
										<td>Kami sudah melakukan perbaikan, silahkan restart perangkat anda</td>
                                        <td class="center">
										<button type="button" class="btn btn-danger btn-xs">Re Send SMS</button>
										</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                           
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
        </div>
                    </div><!--End off row-->
                </div><!--End off container -->