<nav class="navbar navbar-default navbar-fixed white no-background bootsnav">
<div class="fullPage">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <!-- End Header Navigation -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
                    <li><a routerLink="home">Home</a></li>
                    <li><a routerLink="inbox">Inbox</a></li>
					<li><a routerLink="report">Report CS</a></li>
					<li><a routerLink="openticket">Open Ticket</a></li>
					<li><a routerLink="reportnoc">Report NOC</a></li>
					<li><a routerLink="cs">List CS</a></li>
					<li><a routerLink="noc">List NOC</a></li>
					<!--<li><a routerLink="oncheck">Oncheck</a></li>
					<li><a routerLink="donecheck">Donecheck</a></li>
                    <li><a routerLink="solved">Solved</a></li>-->
                </ul>
				<ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
					<li><a routerLink="login">Login</a></li>
				</ul>
            </div><!-- /.navbar-collapse -->
        </div>
</nav>