<div class="fullPage">
	<app-header></app-header>
</div>
<!--Home Sections-->

            <section id="hello" class="home bg-mega">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="main_home">
                            <div class="home_text">
                                <h1 class="text-white">MYTIX</h1>
                            </div>

                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
            </section> <!--End off Home Sections-->
<div class="fullPage">
	<router-outlet></router-outlet>
</div>
	
