			<br />
			<!--Skill Sections-->
                <div class="container">
                    <div class="row">
                        <div class="main_skill">
                            <div class="col-md-13">
                                <div class="skill_content wow fadeIn">
                                    <h2>New Ticket</h2>
                                    <div class="separator_left"></div>
                                </div>
                            </div>
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
				
				<hr />
				<br />
				<br />
                <div class="container">
                    <div class="col-md-15">
                        <div class="skill_bottom_content text-center">
                            <div class="col-md-4">
                                <div class="skill_bottom_item">
                                    <h2 class="statistic-counter">36</h2>
                                    <div class="separator_small"></div>
                                    <h5><em>New Inbox</em></h5>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="skill_bottom_item">
                                    <h2 class="statistic-counter">13</h2>
                                    <div class="separator_small"></div>
                                    <h5><em>Open Ticket NOC</em></h5>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="skill_bottom_item">
                                    <h2 class="statistic-counter">10</h2>
                                    <div class="separator_small"></div>
                                    <h5><em>Troubleshoot NOC</em></h5>
                                </div>
                            </div>
							<div class="col-md-4">
                                <div class="skill_bottom_item">
                                    <h2 class="statistic-counter">7</h2>
                                    <div class="separator_small"></div>
                                    <h5><em>Solve NOC</em></h5>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="skill_bottom_item">
                                    <h2 class="statistic-counter">12</h2>
                                    <div class="separator_small"></div>
                                    <h5><em>Closed Ticket</em></h5>
                                </div>
                            </div>
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
             <!--End off Skill section -->
				<br />
				<br />
                <hr />
				
				<br />
				<br />
            <!--Pricing Section-->
                <div class="container">
                    <div class="row">
                        <div id="page-wrapper">
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            List Tickets
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Tix Number</th>
                                        <th>Name</th>
                                        <th width="370">Complaint</th>
                                        <th>Received Time</th>
                                        <th>Action Button</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX">
                                        <td>Trident</td>
                                        <td>Internet Explorer 4.0</td>
                                        <td>Win 95+</td>
                                        <td class="center">4</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="even gradeC">
                                        <td>Trident</td>
                                        <td>Internet Explorer 5.0</td>
                                        <td>Win 95+</td>
                                        <td class="center">5</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="odd gradeA">
                                        <td>Trident</td>
                                        <td>Internet Explorer 5.5</td>
                                        <td>Win 95+</td>
                                        <td class="center">5.5</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="even gradeA">
                                        <td>Trident</td>
                                        <td>Internet Explorer 6</td>
                                        <td>Win 98+</td>
                                        <td class="center">6</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="odd gradeA">
                                        <td>Trident</td>
                                        <td>Internet Explorer 7</td>
                                        <td>Win XP SP2+</td>
                                        <td class="center">7</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="even gradeA">
                                        <td>Trident</td>
                                        <td>AOL browser (AOL desktop)</td>
                                        <td>Win XP</td>
                                        <td class="center">6</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Gecko</td>
                                        <td>Firefox 1.0</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td class="center">1.7</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Gecko</td>
                                        <td>Firefox 1.5</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td class="center">1.8</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Gecko</td>
                                        <td>Firefox 2.0</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td class="center">1.8</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Gecko</td>
                                        <td>Firefox 3.0</td>
                                        <td>Win 2k+ / OSX.3+</td>
                                        <td class="center">1.9</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Gecko</td>
                                        <td>Camino 1.0</td>
                                        <td>OSX.2+</td>
                                        <td class="center">1.8</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Gecko</td>
                                        <td>Camino 1.5</td>
                                        <td>OSX.3+</td>
                                        <td class="center">1.8</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Gecko</td>
                                        <td>Netscape 7.2</td>
                                        <td>Win 95+ / Mac OS 8.6-9.2</td>
                                        <td class="center">1.7</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Gecko</td>
                                        <td>Netscape Browser 8</td>
                                        <td>Win 98SE+</td>
                                        <td class="center">1.7</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Gecko</td>
                                        <td>Netscape Navigator 9</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td class="center">1.8</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Gecko</td>
                                        <td>Mozilla 1.0</td>
                                        <td>Win 95+ / OSX.1+</td>
                                        <td class="center">1</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Gecko</td>
                                        <td>Mozilla 1.1</td>
                                        <td>Win 95+ / OSX.1+</td>
                                        <td class="center">1.1</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Gecko</td>
                                        <td>Mozilla 1.2</td>
                                        <td>Win 95+ / OSX.1+</td>
                                        <td class="center">1.2</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Gecko</td>
                                        <td>Mozilla 1.3</td>
                                        <td>Win 95+ / OSX.1+</td>
                                        <td class="center">1.3</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Gecko</td>
                                        <td>Mozilla 1.4</td>
                                        <td>Win 95+ / OSX.1+</td>
                                        <td class="center">1.4</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Gecko</td>
                                        <td>Mozilla 1.5</td>
                                        <td>Win 95+ / OSX.1+</td>
                                        <td class="center">1.5</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Gecko</td>
                                        <td>Mozilla 1.6</td>
                                        <td>Win 95+ / OSX.1+</td>
                                        <td class="center">1.6</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Gecko</td>
                                        <td>Mozilla 1.7</td>
                                        <td>Win 98+ / OSX.1+</td>
                                        <td class="center">1.7</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Gecko</td>
                                        <td>Mozilla 1.8</td>
                                        <td>Win 98+ / OSX.1+</td>
                                        <td class="center">1.8</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Gecko</td>
                                        <td>Seamonkey 1.1</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td class="center">1.8</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Gecko</td>
                                        <td>Epiphany 2.20</td>
                                        <td>Gnome</td>
                                        <td class="center">1.8</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Webkit</td>
                                        <td>Safari 1.2</td>
                                        <td>OSX.3</td>
                                        <td class="center">125.5</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Webkit</td>
                                        <td>Safari 1.3</td>
                                        <td>OSX.3</td>
                                        <td class="center">312.8</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Webkit</td>
                                        <td>Safari 2.0</td>
                                        <td>OSX.4+</td>
                                        <td class="center">419.3</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Webkit</td>
                                        <td>Safari 3.0</td>
                                        <td>OSX.4+</td>
                                        <td class="center">522.1</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Webkit</td>
                                        <td>OmniWeb 5.5</td>
                                        <td>OSX.4+</td>
                                        <td class="center">420</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Webkit</td>
                                        <td>iPod Touch / iPhone</td>
                                        <td>iPod</td>
                                        <td class="center">420.1</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>Webkit</td>
                                        <td>S60</td>
                                        <td>S60</td>
                                        <td class="center">413</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeC">
                                        <td>Misc</td>
                                        <td>IE Mobile</td>
                                        <td>Windows Mobile 6</td>
                                        <td class="center">-</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeC">
                                        <td>Misc</td>
                                        <td>PSP browser</td>
                                        <td>PSP</td>
                                        <td class="center">-</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                    <tr class="gradeU">
                                        <td>Other browsers</td>
                                        <td>All others</td>
                                        <td>-</td>
                                        <td class="center">-</td>
                                        <td class="center">
										<button type="button" class="btn btn-xs">Proceed</button>
										&nbsp;
										<button type="button" class="btn btn-info btn-xs disabled">Send SMS</button>
										&nbsp;
										<button type="button" class="btn btn-success btn-xs disabled">Close</button>
										&nbsp;
										</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                           
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
        </div>
                    </div><!--End off row-->
                </div><!--End off container -->